.Headingtxt{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-right: 70px;
  }
  .btn{
    border: 1px solid black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: transparent;
    border-radius: 1px;
  
  }
  .loginbtn{
    background-color: #A435F0;
    color: white;
    font-weight: bold;
    border: none;
  }
  .Forgot{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #5624D0;
  }
  .Signup{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color: #5624D0;
  }
  .parent{
    border: 5px solid black;
  }
  
  .btnwidth{
    width:14rem;
  }
  .margin-leftcls{
    margin-left: 100px;
  }